html, body.full
{

}

body.full
{
    min-width: 800px;
}

table
{
    border-collapse:separate;
    border-spacing:1px;
}

ul
{
    list-style-type:disc;
    margin:6px 2em;
}

textarea
{
    margin: 0;
}

button
{
    padding: 0;
}