input[type="text"], select, textarea
{
    border: 1px solid;
    padding: 3px;
    width: 100%;
    -moz-box-sizing: border-box;
}

select {
    padding-left: 0;
}

input.datetime,
input.picker {
    padding-right: 22px;
}

textarea {
    height: 8em;
    min-height: 1.8em;
    resize: vertical;
}

input[type="radio"], input[type="checkbox"]
{
    margin-left:0;
}

a.action, a.action:link, a.action:visited, a.action:hover, a.action:active {
    text-decoration: none;
    cursor: default;
}

button
{
    margin: 0 0.25em 0 0;
    min-width: 6em;
}

button span
{
    display: inline-block;
    padding: 0 10px 0 20px;
    -moz-box-sizing: border-box;
    width: 100%;
}

.tablesorter thead td input, .tablesorter thead td select
{
    vertical-align: middle;
    height: 2em;
}

.tablesorter thead td input[type="submit"] {
    width: 100%;
}

select {
    min-width: 100%;
    width: -moz-fit-content;
}

.error
{
    margin-left:0.25em;
    vertical-align: top;
    line-height: 24px;
}

.errorBox {
    border:2px solid;
    display: block;
    margin: 0 0 6px;
    min-height: 50px;
    padding: 6px 12px 6px 62px;
}

.actionButtonForm {
    display: inline-block;
}