.errorBox,
div.panel.hint .content,
div.panel.success .content,
button span,
.error
{
    background-repeat: no-repeat;
}


#navigation h5 {
    background-image: 
        url("../../images/button_collapse.png"),
        url("../../images/default/panel/white-top-bottom.gif");
    background-repeat: no-repeat, repeat-x;
    background-position: 5px 5px, 0 -1px;
}

#navigation h5.collapsed {
    background-image:
        url("../../images/button_collapsed.png"),
        url("../../images/default/panel/white-top-bottom.gif");
    background-repeat: no-repeat, repeat-x;
    background-position: 5px 5px, 0 -1px;
}

.errorBox,
div.panel.hint .content,
div.panel.success .content
{
    background-position:6px 6px;
}

.error
{
    background-position: 0 -1px;
}

.errorBox
{
    background-image: url("../../images/error_icon.png");
}

div.panel.hint .content
{
    background-image: url("../../images/info_icon.png");
}

div.panel.success .content
{
    background-image: url("../../images/success_icon.png");
}

button.add span
{
    background-image: url("../../images/actions/with-shadows/badge-circle-plus-16.png");
}

button.edit span
{
    background-image: url("../../images/actions/with-shadows/pencil-16.png");
}

button.delete span
{
    background-image: url("../../images/actions/with-shadows/badge-circle-cross-16.png");
}

button.search span
{
    background-image: url("../../images/actions/with-shadows/search-16.png");
}

button.ok span,
button.editsubmit span
{
    background-image: url("../../images/actions/with-shadows/badge-circle-check-16.png");
}

button.cancel span,
.error
{
    background-image: url("../../images/actions/with-shadows/badge-circle-minus-16.png");
}

