/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.subject_input {
	width: 100%;
}

.profile_table {
	width: 100%;
}

.profile {
	/*background-color: #F0FAFF;	*/
}

.profile_table th {
	text-align: left;
}

.date {
	color: #AAAADC;
	font-style: oblique;
}

.details_table {
	width: 100%;
}

.details_table th {
	text-align: left;
	/* color: #15428B;*/
}

.details {
	/*background-color: #E6EEEE;*/
}

/*
.details td, .details th {
	border:1px solid #BEBEDC;
	border-collapse:collapse;
}
*/
.event_form {
	font: small arial, verdana, sans-serif;
}

.event_form LEGEND {
	color: #15428B;
	font: bold large tahoma,arial,verdana,sans-serif;	
}

.comments_table {
	width: 100%;
}

.comments_table td {
	border: 1px solid;
}

.comments {
	/*background-color: #FFFFE6;*/
}

.main_label {
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #BEBEDC; 
	width: 98%;
	color: #15428B;
	font: bold 13px/15px tahoma,arial,verdana,sans-serif;
	margin: 10px;
	padding:5px 3px 4px 5px;
}
/*
.odd {
	background-color: #DCE6EB;
}

.even {
	background-color: #F0FAFF;
}
*/

.event_form TEXTAREA {
	width: 98%;
}

.event_form table {
	border-color: #036;
	border-style: solid;
	border-width: 2px;
}

.details_table th {
	background-color: #0066CC;
	color: white;
}

.submit_image {
	height: 16px;
	width: 16px;
}

.event_form a img {
	border: none;
}

.event_form a {
	color: black;
}

.event_form a:HOVER {
	color: orange;
}



#footer_table {
	background: #EEE;
	width: 100%;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

#footer img {
	border: none;
}

div#content .buttonGroup {
	width: 90%;
	float: left;
	text-align: center;
}

.buttonGroup {
	border-bottom:1px solid;
	border-top:1px solid;
	margin:20px;
	padding:10px;
}

a.standard_link {
	color: black;
	text-decoration: none;
}

a.standard_link:HOVER {
	/*color: orange;*/
	color: #15428B;
	text-decoration: underline;
}

.current_item {
	color: #15428B;
	font-weight: bold;
}

table.tablesorter tbody td {
    vertical-align: middle;
}

.listview {
    border: 1px solid;
    margin: 0.5em 0;
    width: 100%;
}

.radiobar {
    margin-bottom: 6px;
    height: 20px;
}
    
    .radiobar label {
        margin: 0 6px;
    }
    
    .radiobar input {
        vertical-align: text-top;
        margin: 0;
    }